<p>Bonjour <%= firstName %> <%= lastName %>,</p>

<p>Bienvenue dans l'Observatoire des Métiers.</p>

<p>Votre nouveau mot de passe est : <strong><%= password %></strong></p>

<p>Veuillez le changer dès votre connexion pour des raisons de sécurité.</p>

<p>Cordialement,</p>
<p>L'équipe de l'Observatoire des Métiers</p>